<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/flash_error.css">
    <link rel="stylesheet" href="/static/generic.css">


    <title>Search</title>
    <style>
        .result-entry {
            padding: 20px;
            margin: 20px;
            background-color: #b2cbd4;
            border-radius: 10px;
        }

        .user-text {
            font-size: 30px;
        }

    </style>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default" id="my-navbar">
        <a href="/users/<%= logged_username %>" class="btn btn-info" role="button">Home</a>
        <div class="md-form mt-0">
            <form class="form-inline" action="/search" method="get">
                <div class="form-group mb-2">
                    <select class="custom-select" name="attribute">
                        <option value="first_name">First Name</option>
                        <option value="last_name">Last Name</option>
                        <option value="username">username</option>
                        <option value="email">email</option>
                    </select>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="inputPassword2" class="sr-only">Search</label>
                    <input class="form-control" type="text" name="query" id="inputPassword2" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Search</button>
            </form>
        </div>

        <form action="/logout">
            <input type="submit" class="btn btn-danger" value="Log Out"/>
        </form>
    </nav>
    <% for (let i = 0; i < results.length; ++i) { %>
    <% let user = results[i] %>
    <div class="row result-entry">
        <div class="col-lg-2">
            <a href="/users/<%= user.username %>">
                <img src="<%= user.profile_photo_path %>" style="width:100px;height:100;display:inline">
            </a>
        </div>
        <div class="col-lg-2">
            <h1 class="display-4 user-text"><%= user.username %></h1>
            <%= user.first_name %> <%= user.last_name %><br>
            <em><%= user.email %></em>
        </div>
    </div>
    <% } %>
</div>
<br>
</body>
</html>
