<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/flash_error.css">
    <link rel="stylesheet" href="/generic.css">
    <link rel="stylesheet" href="/user_profile.css">
    <link rel="stylesheet" href="/posts.css">

    <title><%= username %></title>
</head>
<body>

<div class="container">
    <nav class="navbar navbar-default" id="my-navbar">
        <% if (logged_username != username) { %>
        <a href="/users/<%= logged_username %>" class="btn btn-info" role="button">Home</a>
        <% } %>
        <div class="md-form mt-0">
            <form class="form-inline" action="/search" method="get">
                <div class="form-group mb-2">
                    <select class="custom-select" name="attribute">
                        <option value="first_name">First Name</option>
                        <option value="last_name">Last Name</option>
                        <option value="username">username</option>
                        <option value="email">email</option>
                    </select>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="inputPassword2" class="sr-only">Search</label>
                    <input class="form-control" type="text" name="query" id="inputPassword2" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Search</button>
            </form>
        </div>

        <form action="/logout">
            <input type="submit" class="btn btn-danger" value="Log Out"/>
        </form>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7" id="main-content">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <img src="<%= profile_photo_path %>">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <h4><%= first_name %></h4>
                        <h4><%= last_name %></h4>
                        <h4><%= birth_date %></h4>
                        <% if (logged_username == username) { %>
                        <form action="/update_user" enctype="multipart/form-data" method="post">
                            <label for="files" class="btn-sm btn-outline-info">Choose new profile photo</label>
                            <input id="files" type="file" style="display:none;" name="new_profile_photo">
                            <input class="btn-sm btn-success" type="submit" value="Change">
                        </form>
                        <% } else { %>
                        <% if (is_friend < 3) { %>
                        <form action="/add_friend" method="post">
                            <% if (is_friend == 1) { %>
                            <input value="Friend" class="btn btn-primary" disabled>
                            <% } else { %>
                            <% if (is_friend == 0) { %>
                            <input type="hidden" name="username" value="<%= username %>">
                            <input type="submit" class="btn btn-primary" value="Add friend">
                            <% } else { %>
                            <input value="Request Sent" class="btn btn-primary" disabled>
                            <% } %>
                            <% } %>
                        </form>
                        <% } else { %>
                        <form action="/resolve_friend_request" method="post">
                            <input name="user_id" value="<%= user_id %>" type="hidden">
                            <input type="submit" name="accept" value="Accept" class="btn btn-info default-spacer">
                        </form>
                        <% } %>
                        <% } %>
                        <div id="description">
                            <b>Description</b><br>
                            <div id="description-content" style="word-wrap: break-word;">
                                <% if (description) { %>
                                <%= description %>
                                <% } %>
                            </div>
                            <% if (logged_username == username) { %>
                            <button class="btn-xs btn-link" onclick="changeEditableDescription()" id="edit-button"
                                    style="margin-top:10px">Edit
                            </button>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" id="posts-area">
                    <h1 class="display-4 big-heading">Posts</h1>
                    <% if (logged_username == username) { %>
                    <button onclick="display_post_box()" class="btn-lg btn-info">New Post</button>
                    <div id="post-register" style="display: none">
                        <form action="/create_post" method="POST">
                            <input type="text" name="content" class="form-control">
                            <input type="submit" name="Post" class="btn btn-success">
                            <input type="hidden" name="username" value="<%= username %>">
                        </form>
                    </div>
                    <% } %>
                    <% for (let i = 0; i < posts.length; ++i) { %>
                    <% let post = posts[i] %>
                    <div class="post-div container">
                        <div class="post-content-div">
                            <div class="post-content"><%= post.content %></div>
                            <div class="post-time"><b><%= post.date_added %> <%= post.time_added %></b></div>
                        </div>
                        <% for (let j = 0; j < post.comments.length; ++j) { %>
                        <% let comment = post.comments[j] %>
                        <div class="comment-div row">
                            <div class="comment-content col-lg-8"><%= comment.content %></div>
                            <div class="post-time">
                                <a href="/users/<%=comment.username %>">
                                    <img src="<%= comment.user_profile_photo %>"
                                         style="width:30px;height:30px;display:inline">
                                </a>
                                <%= comment.user %><br>
                                <b><%= comment.date_added %> <%= comment.time_added %></b>
                            </div>
                        </div>
                        <% } %>
                        <button class="btn-sm btn-info" onclick="display_comment_box(<%= post.id %>)">
                            New Comment
                        </button>
                        <div class="comment-register" id="comment_post_id_<%= post.id %>" style="display: none">
                            <form action="/create_comment" method="POST">
                                <input type="text" name="content" class="form-control">
                                <input type="submit" value="Post" class="btn-sm btn-info">
                                <input type="hidden" name="post_id" value="<%= post.id %>">
                            </form>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
            <div id="full-side-view" class="col-lg-5 row">
                <div class="col-lg-6 half-side-view">
                    <div class="side-area">
                        <h2 class="small-heading">My Friends</h2>
                        <% for (let i = 0; i < my_friends.length; ++i) { %>
                        <% let friend = my_friends[i] %>
                        <div class="friend-request row justify-content-center">
                            <div class="friend-request-top row">
                                <div style="display:inline;" class="col-lg-3">
                                    <a href="/users/<%= friend.username %>">
                                        <img src="<%= friend.profile_photo_path %>" style="width:40px;height:40px;">
                                    </a>
                                </div>
                                <div style="display:inline; white-space:nowrap;" class="col-lg-5">
                                    <b><%= friend.first_name %> <%= friend.last_name %></b>
                                </div>
                                <div class="col-lg-3">
                                    <form action="/remove_user_friend" method="post">
                                        <input type="submit" value="X" class="btn-sm btn-danger"
                                               style="margin-top: 10px;">
                                        <input type="hidden" name="friend_id" value="<%= friend.id %>">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                    <% if (friend_requests) { %>
                    <div class="side-area" style="margin-top: 10px;">
                        <h2 class="small-heading">Friend Requests</h2>
                        <% for (let i = 0; i < friend_requests.length; ++i) { %>
                        <% let request = friend_requests[i] %>
                        <div class="friend-request row justify-content-center">
                            <div class="friend-request-top">
                                <div style="display:inline;">
                                    <a href="/users/<%= request.username %>">
                                        <img src="<%= request.profile_photo_path %>" style="width:40px;height:40;">
                                    </a>
                                </div>
                                <div style="display:inline; white-space:nowrap;">
                                    <b><%= request.first_name %> <%= request.last_name %></b>
                                </div>
                            </div>
                            <form action="/resolve_friend_request" method="post">
                                <input name="user_id" value="<%= request.id %>" type="hidden">
                                <div class="row" style="margin-top: 10px">
                                    <input type="submit" name="accept" value="Accept"
                                           class="request-button btn btn-info default-spacer">
                                    <input type="submit" name="reject" value="Reject"
                                           class="request-button btn btn-warning">
                                </div>
                            </form>
                        </div>
                        <% } %>
                    </div>
                    <% } %>
                </div>
                <div class="col-lg-6 half-side-view">
                    <div class="side-area">
                        <h2 class="small-heading">My Groups</h2>
                        <% for (let i = 0; i < my_groups.length; ++i) { %>
                        <% let group = my_groups[i] %>
                        <div class="friend-request row justify-content-center">
                            <div class="friend-request-top">
                                <a href="/groups/<%= group.name %>">
                                    <div style="display:inline; white-space:nowrap;">
                                        <b><%= group.name %></b>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <% } %>
                        <div id="new-group-div" style="margin-left: 30px;margin-bottom: 10px;">
                            <button class="btn btn-success" onclick="onCreateGroup('<%= logged_username %>')"
                                    id="create-group-button">Create group
                            </button>
                        </div>
                    </div>
                    <% if (group_invitations) { %>
                    <div class="side-area" style="margin-top: 10px;">
                        <h2 class="small-heading">Group Invitations</h2>
                        <% for (let i = 0; i < group_invitations.length; ++i) { %>
                        <% let invitation = group_invitations[i] %>
                        <div class="friend-request row justify-content-center">
                            <div class="friend-request-top">
                                <div style="display:inline;">
                                    <a href="/users/<%= invitation.username %>">
                                        <img src="<%= invitation.profile_photo_path %>" style="width:40px;height:40;">
                                    </a>
                                </div>
                                <div style="display:inline; white-space:nowrap;">
                                    <b><%= invitation.first_name %> <%= invitation.last_name %></b>
                                </div>
                            </div>
                            <b><%= invitation.group_name %></b>
                            <form action="/resolve_group_invitation" method="post">
                                <input name="host_id" value="<%= invitation.host_id %>" type="hidden">
                                <input name="group_id" value="<%= invitation.group_id %>" type="hidden">
                                <div class="row" style="margin-top: 10px">
                                    <input type="submit" name="accept" value="Accept"
                                           class="request-button btn btn-info default-spacer">
                                    <input type="submit" name="reject" value="Reject"
                                           class="request-button btn btn-warning">
                                </div>
                            </form>
                        </div>
                        <% } %>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/user_profile.js"></script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>
